.navDiv{
	
}

a:link {color: 	#383838; text-decoration: none;}      /* unvisited link */
a:visited {color:#383838; text-decoration: none;}  /* visited link */
a:hover {color:#808080;}  /* mouse over link */
a:active {color:#383838;}  /* selected link */ 

body{
	background-color:#D1BE94;
	color:#4F3F32;
	font-size:0.9em;
	font-family: Georgia, Arial, sans-serif;
}

table{
	font-size:0.9em;
}

.blogbutton{
	margin-top:3px;
	margin-bottom:3px;
	width:100px;
	font-size: 0.9em;
}

li{
	list-style-type: none;
}

ul{
	margin:0px;
}

.mainDiv{
	margin-top:10px;
}

.navigation{
	float:left;
	margin:10px;
}

.content{
	float:left;
	margin:20px;
}

.topWindow{
  top: 20px;
  width:50%;
  left:25%;
  float:left;
  position: relative;
  background-color: #EBE2D1;
  border: 5px solid #FFFFFF;
  padding-bottom:15px;
}

.mainWindow{
  width:50%;
  left:25%;
  position:relative;
  clear:both;
  float:left;
  background-color: #EBE2D1;
  border: 5px solid #FFFFFF;
  min-height:780px;
}

.login{
	background-color:#EBE2D1;
	float:right;
	padding:10px;
}

.blogHeader{
	font-size:1.4em;
	font-weight:bold;
	display:inline;
}

.heightInput{
	width:35px;
}

.blogPost{
	width:908px;
	padding:5px;
}

.logo{
	position:absolute;
	left:44%;
	top:10%;
}

.prefix{
	color:#520B6B !important;
}

.suffix{
	color:#520B6B !important;
}

hr{
	border:1px solid #FFFFFF;
}

.useridInput{
	width:150px;
}

.passwordInput{
	width:150px;
}

.leftFieldset{
	width:25%;
	height:72%;
	float:left;
}

.middleFieldset{
	width:44%;
	height:72%;
	float:left;
}

.rightFieldset{
	width:25%;
	height:72%;
	float:left;
}

.eventDiv{
	padding-left:2px;
	overflow-y: scroll;
	width:100%;
	height:100%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.characterDiv{
	padding-left:2px;
	overflow-y:scroll;
	width:100%;
	height:95%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.inventoryDiv{
	overflow-y:scroll;
	width:100%;
	height:93%;
	background-color:#EBE2D1;
	border:1px solid grey;
	clear:both;
}

.tableHeader{
	width:450px;
	font-weight:bold;
	font-size:1.0em;
	text-align:left;
}

.goldLine{
	background-color:#EBE2D1;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid grey;
	border-left:1px solid grey;
	border-right:1px solid grey;
}

.borderTop{
	border-top:1px solid #CFCFCF;
}

.worldFieldset{
	margin-top:5px;
	float:left;
	width:25%;
	height:18%;
}

.commandsFieldset{
	margin-top:5px;
	float:left;
	width:44%;
	height:18%;
}

.compassFieldset{
	margin-top:5px;
	float:left;
	width:25%;
	height:18%;
}

.worldDiv{
	padding-left:2px;
	width:100%;
	height:100%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.commandsDiv{
	width:100%;
	height:100%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.compassDiv{
	padding-top:9px;
	padding-left:2px;
	width:100%;
	height:100%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.compassNLine{
	text-align:center;
}

.fL{
	float:left;
}

.fR{
	float:right;
}

.cB{
	clear:both;
}

.compassMidLine{
	text-align:center;
}

.compassSLine{
	text-align:center;
	clear:both;
}

.compass{
	background-color: #CFCFCF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	width: 30%;
	height: 30%;
}

.hidden{
	display:none;
}

.inventoryTabHeading{
	background-color: #CFCFCF;
	height:22px;
	width:82px;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-top:1px solid grey;
	float:left;
	text-align:center;
	cursor:pointer;
}

.characterTabHeading{
	background-color: #CFCFCF;
	height:22px;
	width:82px;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-top:1px solid grey;
	float:left;
	text-align:center;
	cursor:pointer;
}

.currentTab{
	background-color: #FFFAF0 !important;
}

.itemNameHeader{
	width:70%;
}

.itemTypeHeader{
	width:30%;
}

.textCenter{
	text-align:center;
}

.borderBottom{
	border-bottom:1px solid #CFCFCF;
}

.background0{
	background-color:#F5F5F5;
}

.background1{
	background-color:#E8E8E8;
}

.pointer{
	cursor:pointer;
}

.selectedRow{
	font-weight:bold;
}

.itemDesc{
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px solid grey;
}