.navDiv{
	
}

a:link {color: 	#383838; text-decoration: none;}      /* unvisited link */
a:visited {color:#383838; text-decoration: none;}  /* visited link */
a:hover {color:#808080;}  /* mouse over link */
a:active {color:#383838;}  /* selected link */ 

body{
	background-color:#D1BE94;
	color:#4F3F32;
	font-size:0.9em;
	font-family: Georgia, Arial, sans-serif;
}

table{
	font-size:0.9em;
}

.blogbutton{
	margin-top:3px;
	margin-bottom:3px;
	width:100px;
	font-size: 0.9em;
}

li.noBullet{
	list-style-type: none;
}

ul{
	margin:0px;
}

.mainDiv{
	width:90%;
	margin:0 auto;
}

.containerDiv{
	white-space:nowrap;
}

.wrapDiv{
	white-space:normal;
}

.secondDiv{
	display:block;
	white-space:nowrap;
	float:left;
}

.navigation{
	float:left;
	margin:10px;
}

.content{
	float:left;
	margin:20px;
}

.topWindow{
  top: 20px;
  width:50%;
  left:25%;
  float:left;
  position: relative;
  background-color: #EBE2D1;
  border: 5px solid #FFFFFF;
  padding-bottom:15px;
}

.mainWindow{
  width:50%;
  left:25%;
  position:relative;
  clear:both;
  float:left;
  background-color: #EBE2D1;
  border: 5px solid #FFFFFF;
  min-height:780px;
}

.login{
	background-color:#EBE2D1;
	float:right;
	padding:10px;
}

.blogHeader{
	font-size:1.4em;
	font-weight:bold;
	display:inline;
}

.heightInput{
	width:35px;
}

.blogPost{
	width:auto;
	padding:5px;
}

.logo{
	position:absolute;
	left:44%;
	top:10%;
}

.prefix{
	color:#520B6B !important;
}

.suffix{
	color:#520B6B !important;
}

hr{
	border:1px solid #FFFFFF;
}

.useridInput{
	width:150px;
}

.passwordInput{
	width:150px;
}

.leftFieldset{
	width:480px;
	height:700px;
	float:left;
}

.middleFieldset{
	width:42.5%;
	height:700px;
	float:left;
}

.rightFieldset{
	width:480px;
	height:700px;
	display:inline;
}

.eventDiv{
	padding-left:2px;
	overflow-y: scroll;
	width:100%;
	height:100%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.characterDiv{
	padding-left:2px;
	overflow-y:scroll;
	width:100%;
	height:96.5%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.inventoryDiv{
	overflow-y:scroll;
	width:100%;
	height:93.5%;
	background-color:#EBE2D1;
	border:1px solid grey;
	clear:both;
}

.tableHeader{
	width:450px;
	font-weight:bold;
	font-size:1.0em;
	text-align:left;
	background-color:#EBE2D1 !important;
}

.goldLine{
	background-color:#EBE2D1;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid grey;
	border-left:1px solid grey;
	border-right:1px solid grey;
}

.borderTop{
	border-top:1px solid #CFCFCF;
	background-color:#EBE2D1 !important;
}

.innerBorder {
	margin:0 auto;
}

.worldFieldset{
	width:480px;
	height:18%;
	float:left;
}

.commandsFieldset{
	width:42.5%;
	height:18%;
	float:left;
}

.compassFieldset{
	width:480px;
	height:18%;
	display:inline;
}

fieldset, input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
fieldset {
    margin:0;
}

.worldDiv{
	padding-left:2px;
	width:100%;
	height:100%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.commandsDiv{
	width:100%;
	height:100%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.compassDiv{
	width:100%;
	height:100%;
	background-color:#EBE2D1;
	border:1px solid grey;
}

.compassNLine{
	text-align:center;
}

.wallSouth{
	border-bottom:2px solid black;
	width:20px;
	height:20px;
}

.wallNorth{
	border-top: 2px solid black;
	width:20px;
	height:20px;
}

.wallEast{
	border-right: 2px solid black;
	width:20px;
	height:20px;
}

.wallWest{
	border-left: 2px solid black;
	width:20px;
	height:20px;
}

.maze{
	border-collapse: collapse;
}

@media only screen and (max-width: 1440px) {
    body{
		overflow-y:scroll;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    div.commandsDiv {
        height:91% !important;
    }
	
	div.worldDiv {
        height:91% !important;
    }
	
	div.compassDiv {
        height:85% !important;
    }
	
	div.inventoryDiv {
		height:92% !important;
	}
	
	div.characterDiv {
		height:94% !important;
	}
	
	div.eventDiv {
		height:98% !important;
	}
}

.fL{
	float:left;
}

.fR{
	float:right;
}

.cB{
	clear:both;
}

.compassMidLine{
	text-align:center;
}

.compassSLine{
	text-align:center;
	clear:both;
}

.ui-tooltip-content {
    font-size:10pt;
    font-family:Helvetica;
}

.compass{
	background-color: #CFCFCF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	width: 120px;
	height: 30px;
}

.insideEvent{
	padding-left:5px;
}

.insideOther{
	padding:5px;
}

.hidden{
	display:none;
}

.hiddenImportant{
	display:none !important;
}

.inline{
	display:inline !important;
}

.inline-block{
	display:inline-block !important;
}

.inventoryTabHeading{
	background-color: #CFCFCF;
	height:22px;
	width:82px;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-top:1px solid grey;
	float:left;
	text-align:center;
	cursor:pointer;
}

.characterTabHeading{
	background-color: #CFCFCF;
	height:22px;
	width:82px;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-top:1px solid grey;
	float:left;
	text-align:center;
	cursor:pointer;
}

.currentTab{
	background-color: #FFFAF0 !important;
}

.itemNameHeader{
	width:70%;
}

.itemTypeHeader{
	width:30%;
}

.textCenter{
	text-align:center;
}

.borderBottom{
	border-bottom:1px solid #CFCFCF;
}

.charTable tr:nth-child(even){
	background-color:#F5F5F5;
}

.charTable tr:nth-child(odd){
	background-color:#E8E8E8;
}

.invTable tbody tr{
	background-color:#F5F5F5;
}

.invTable tbody tr:nth-child(4n), .invTable tbody tr:nth-child(4n-1){
	background-color:#E8E8E8;
}

.quantityWidth{
	width:30px;
}

#sellDiv{
	height:200px;
	border:1px solid grey;
}

#itemDragBox{
	height:50px;
	width:170px;
	border:1px solid grey;
	display:inline-block;
}

#itemDescBeforeDrag{
	display:inline;
	vertical-align:top;
}

#itemDescAfterDrag{
	display:block;
	vertical-align:top;
	margin-top:10px;
}

.shopFieldset{
	width:98%;
}

span.node { border: 1px solid black; border-radius: 2px; background-color: #ccc;margin-left: 5px;}
span.close {padding-left: 5px; color: red;cursor: pointer;}

.pointer{
	cursor:pointer;
}

.underline{
	text-decoration:underline;
}

.bold{
	font-weight:bold;
}

.selectedRow{
	font-weight:bold;
}

.itemDesc{
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px solid grey;
}